= form_for @question do |f|
  .row
    .columns.small-12.medium-6
      = f.label :name, 'Contact Name*'
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'name']
      = f.text_field :name
    .columns.small-12.medium-6
      = f.label :email, 'Email*'
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'email']
      = f.text_field :email

  .row
    .columns.small-12.medium-6.large-4
      = f.label :phone
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'phone']
      = f.text_field :phone
    .columns.small-12.medium-6.large-3
      = f.label :city
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'city']
      = f.text_field :city, value: 'Houston'
    .columns.small-12.medium-6.large-2
      = f.label :state
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'state']
      = f.select :state, options_for_select(state_options, 'TX')
    .columns.small-12.medium-6.large-3
      = f.label :zip
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'zip']
      = f.text_field :zip, value: '77315'

  .row
    .columns.small-12
      = f.label :subject, 'Subject*'
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'subject']
      = f.text_field :subject

  .row
    .columns.small-12
      = f.label :description, 'Description*'
      = render 'shared/field_error_messages', messages: @question.errors.messages[:'description']
      = f.text_area :description

  .row
    .columns.small-12.large-offset-4.large-4
      = f.submit 'SUBMIT', { class: 'button round' }