#content-title
  .row
    .columns.small-12
      %h5 Stories
#content
  .row
    .columns.small-12.large-4
      .story
        .row
          .columns.small-12
            = image_tag 'ted_cruz.jpg'
        .row
          .columns.small-12
            %h5= link_to 'Conservative Voting', '#'
            Twenty years of Moderate Congressman Kevin Brady is 20 YEARS TOO LONG!
            %br
            Conservative Watch Dog, HERITAGE ACTION Dashboard, rates Brady an anemic, pathetic 64% lifetime of "conservative voting".
            %br
            Heritage rates Senator Ted Cruz a solid 95% conservative voting record. I stand with Ted! It is long time for a change....

    .columns.small-12.large-4
      .story
        .row
          .columns.small-12
            = image_tag 'penny_plan.jpg'
          .columns.small-12
            %h5= link_to 'The Penny Plan', '#'
            I will fight for passage of the "Penny Plan." If we cut one penny of every federal dollar in the next 6 year’s budget, we will balance the budget and begin to reduce the massive, irresponsible $18 Trillion Nation Debt: 103% of our GDP!
    .columns.small-12.large-4
      .story
        .row
          .columns.small-12
            = image_tag 'speaking.jpg'
          .columns.small-12
            %h5= link_to 'Colonel Andre Dean', '#'
            I am a Grandpa, Combat Veteran, Christian, Public School Teacher, Airborne-Ranger and a Passionate American.
            %br
            I am asking for your vote.