#main-header
  .row
    .columns.small-12.large-5
      = link_to root_path do
        #main-header-logo= image_tag 'logo.png'
        #main-header-name
          Colonel Dean
          #main-header-year 2016
          #main-header-sub for Texas District 8 Congressman
    .column.small-12.large-3
      #main-header-quote
        .line1 Courageous Conservative
        .line2 Tea Party Leadership
    .column.small-12.large-4
      #main-header-email-signup-container
        .title
          %span SIGN UP
          FOR EMAIL UPDATES
        .form
          = text_field_tag :email, nil, placeholder: 'Email address'
          = link_to '#' do
            = fa_icon 'long-arrow-right'

#main-nav
  .row
    .columns.small-12
      %ul.main-nav-list
        %li.active
          = link_to root_path, class: 'main-nav-item main-nav' do
            = fa_icon 'home'
        %li= link_to 'About', '/pages/about', class: 'main-nav-item'
        %li= link_to 'Dean Family', root_path, class: 'main-nav-item'
        %li= link_to 'News / Media', root_path, class: 'main-nav-item'
        %li= link_to 'Hot Issues', root_path, class: 'main-nav-item'
        %li= link_to 'Calendar', root_path, class: 'main-nav-item'
        %li= link_to 'DONATE', root_path, class: 'main-nav-item main-nav-donate'
