#main-header
  .row
    .columns.small-12.large-5
      = link_to root_path do
        #main-header-logo= image_tag 'logo.png'
        #main-header-name
          Colonel Dean
          #main-header-year 2016
          #main-header-sub for Texas District 8 Congressman
    .column.small-12.large-3
      #main-header-quote
        .line1 Courageous Conservative
        .line2 Tea Party Leadership
    .column.small-12.large-4
      #main-header-email-signup-container
        .title
          %span SIGN UP
          FOR EMAIL UPDATES
        .form
          = form_for Email.new, remote: true do |f|
            = f.text_field :email, placeholder: 'Email address'
            = button_tag do
              = fa_icon 'long-arrow-right'

#main-nav
  .row
    .columns.small-12
      %ul.main-nav-list
        %li{class: "#{(!@page.nil? && @page.slug == 'home')? 'active' : ''}"}
          = link_to root_path, class: 'main-nav-item main-nav' do
            = fa_icon 'home'
        - NavTab.all.each do |nav_tab|
          %li{class: "#{(is_on_controllers_path(['pages']) && !@page.nil? && nav_tab.page.slug == @page.slug)? 'active' : ''}"}= link_to nav_tab.label, page_path(nav_tab.page.slug), class: 'main-nav-item'
        %li{class: "#{(is_on_controllers_path(['events']))? 'active' : ''}"}= link_to 'Calendar', events_path, class: 'main-nav-item'
        %li{class: "#{(is_on_controllers_path(['donations']))? 'active' : ''}"}= link_to 'Donations', new_donation_path, class: 'main-nav-item'
