#slider
  %ul{"data-orbit" => "", "data-options" => "slide_number:false;resume_on_mouseout:true;timer:true;bullets:false;"}
    - if @page.nil? || @page.slug == 'home'
      %li.active
        = image_tag 'full_banner.jpg'
      %li
        = image_tag 'ted_cruz_short.jpg'
        .orbit-caption Lt. Colonel Dean and Senator Ted Cruz, March 2015.
      %li
        = image_tag 'family.jpg'
        .orbit-caption Dean Family, April 2015.
    - elsif @page.slug == 'about'
      %li.active
        = image_tag 'dianne.jpg'
        .orbit-caption Colonel Dean and his wife Dianne.
      %li
        = image_tag 'ted_cruz_short.jpg'
        .orbit-caption Colonel Dean and Senator Ted Cruz, March 2015. I stand with Ted Cruz.
      %li
        = image_tag 'family.jpg'
        .orbit-caption Dean Family, April 2015.
