- unless event.nil?
  .sidebar-item
    - if title
      %h5 Upcoming Events
    .row
      .columns.small-2
        .sidebar-date
          .day= event.time.strftime('%d') rescue 0
          .month= event.time.strftime('%b') rescue 'Jan'
      .columns.small-10
        .sidebar-date-description
          .title= link_to event.title, event_path(event.slug)
          .time
            = fa_icon 'clock-o'
            = event.time.strftime('%B %d @%l:%M %p')
          .address
            = fa_icon 'map-marker'
            = event.location
