#events
  #event-container
    .row
      .columns.small-12.large-8
        %h5= @event.title
        = @event.description
        .event-sub-time #{@event.time.strftime('%B %d %l:%M %p')} at #{@event.location}
      .columns.small-12.large-4
        = render 'events/sidebar', event: @event
  #content-container
    .sidebar-list
      .row
        .columns.small-12
          %h4 Upcoming Events
      .row
        .columns.small-12.large-4
          = render 'shared/upcoming_events', event: next_event(0), title: false, show_more_events_link: false
        .columns.small-12.large-4
          = render 'shared/upcoming_events', event: next_event(1), title: false, show_more_events_link: false
        .columns.small-12.large-4
          = render 'shared/upcoming_events', event: next_event(2), title: false, show_more_events_link: false