- if @page.has_header
  = render 'shared/header'
.row
  .columns.small-12.large-8
    = render 'shared/slider'
  .columns.small-12.large-4
    = render 'shared/sidebar'

#content-container
  .row
    .columns.small-12.large-8
      = render 'shared/content'
    .columns.small-12.large-4
      = render 'shared/content_sidebar'
- if @page.has_footer
  = render 'shared/footer'