- if @page.has_header
  = render 'shared/header'
- if @page.slug == 'home'
  .row
    .columns.small-12.large-8
      = render 'shared/slider'
    .columns.small-12.large-4
      = render 'shared/sidebar'

  #content-container
    .row
      .columns.small-12.large-8
        = render 'shared/content'
      .columns.small-12.large-4
        = render 'shared/content_sidebar'
- else
  .row
    .columns.small-12{class: "#{(@page.sidebar_items.any?)? 'large-8' : 'large-12'}"}
      - if ['about', 'dean-family'].include?(@page.slug)
        .row
          .columns.small-12= render 'shared/slider'
      - else
        .no-slider-padding
      = @page.body.html_safe
    - if @page.sidebar_items.any?
      .columns.small-12.large-4
        .sidebar-list.custom-sidebar
          - @page.sidebar_items.each do |sidebar_item|
            = render 'sidebar_items/item', page: @page, sidebar_item: sidebar_item, admin: false
  .no-slider-padding
- if @page.has_footer
  = render 'shared/footer'