#left-nav
  %ul.nav-menu
    - if can? :create, Page
      %li{class: (is_on_controllers_path(['admin/pages']))? 'active' : 'pages-nav'}
        = link_to admin_pages_path do
          .nav-menu-title
            = fa_icon "file"
            Pages
        %ul.sub-nav-menu
          %li{class: (is_on_controllers_path(['admin/pages']) && params[:action] == 'new')? 'active' : ''}
            = link_to new_admin_page_path do
              .sub-nav-menu-title
                = fa_icon "plus"
                New Page
          %li{class: (is_on_controllers_path(['admin/pages']) && params[:action] != 'new')? 'active' : ''}
            = link_to admin_pages_path do
              .sub-nav-menu-title
                = fa_icon "files-o"
                Manage Pages
  %ul.nav-menu
    - if can? :create, Medium
      %li{class: (is_on_controllers_path(['admin/media', 'admin/images']))? 'active' : 'media-nav'}
        = link_to admin_images_path do
          .nav-menu-title
            = fa_icon "picture-o"
            Media
        %ul.sub-nav-menu
          %li{class: (is_on_controllers_path(['admin/media', 'admin/images']) && params[:action] == 'new')? 'active' : ''}
            = link_to new_admin_image_path do
              .sub-nav-menu-title
                = fa_icon "plus"
                New Image
          %li{class: (is_on_controllers_path(['admin/media', 'admin/images']) && params[:action] != 'new')? 'active' : ''}
            = link_to admin_images_path do
              .sub-nav-menu-title
                = fa_icon "picturoe-o"
                Manage Images
  %ul.nav-menu
    - if can? :create, NavTab
      %li{class: (is_on_controllers_path(['admin/nav_tabs']))? 'active' : 'nav-tabs-nav'}
        = link_to admin_nav_tabs_path do
          .nav-menu-title
            = fa_icon "bars"
            Nav Tabs
        %ul.sub-nav-menu
          %li{class: (is_on_controllers_path(['admin/nav_tabs']) && params[:action] == 'new')? 'active' : ''}
            = link_to new_admin_nav_tab_path do
              .sub-nav-menu-title
                = fa_icon "plus"
                New Nav Tab
          %li{class: (is_on_controllers_path(['admin/nav_tabs']) && params[:action] != 'new')? 'active' : ''}
            = link_to admin_nav_tabs_path do
              .sub-nav-menu-title
                = fa_icon "bars"
                Manage Nav Tabs
  %ul.nav-menu
    - if can? :create, Event
      %li{class: (is_on_controllers_path(['admin/events']))? 'active' : 'events-nav'}
        = link_to admin_events_path do
          .nav-menu-title
            = fa_icon "calendar"
            Events
        %ul.sub-nav-menu
          %li{class: (is_on_controllers_path(['admin/events']) && params[:action] == 'new')? 'active' : ''}
            = link_to new_admin_event_path do
              .sub-nav-menu-title
                = fa_icon "plus"
                New Event
          %li{class: (is_on_controllers_path(['admin/events']) && params[:action] != 'new')? 'active' : ''}
            = link_to admin_events_path do
              .sub-nav-menu-title
                = fa_icon "calendar"
                Manage Events
  %ul.nav-menu
    - if can? :read, Email
      %li{class: (is_on_controllers_path(['admin/emails']))? 'active' : 'emails-nav'}
        = link_to admin_emails_path do
          .nav-menu-title
            = fa_icon "envelope"
            Emails
  %ul.nav-menu
    - if can? :read, Donation
      %li{class: (is_on_controllers_path(['admin/donations']))? 'active' : 'donations-nav'}
        = link_to admin_donations_path do
          .nav-menu-title
            = fa_icon "credit-card"
            Donations
  %ul.nav-menu
    - if can? :create, User
      %li{class: (is_on_controllers_path(['admin/users', 'admin/roles']))? 'active' : 'users-nav'}
        = link_to admin_users_path do
          .nav-menu-title 
            = fa_icon "user"
            Users
        %ul.sub-nav-menu
          %li{class: (is_on_controllers_path(['admin/users', 'admin/roles']) && params[:action] == 'new')? 'active' : ''}
            = link_to new_admin_user_path do
              .sub-nav-menu-title 
                = fa_icon "plus"
                New User
          %li{class: (is_on_controllers_path(['admin/users', 'admin/roles']) && params[:action] != 'new')? 'active' : ''}
            = link_to admin_users_path do
              .sub-nav-menu-title 
                = fa_icon "users"
                Manage Users
