!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Colonel Dean to Congress
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = favicon_link_tag 'logo.png'
    = csrf_meta_tags
  %body
    .flash_messages
      = render 'shared/flash_messages'
    = yield
